/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Lato:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
  }

/* General Styles */
/* Colours */
:root {
    --white: #ffffff;
    --light-grey: #F4F4F4;
    --grey: #D8D8D8;
    --dark-grey: #626262;
    --black: #000000;
    --pale-blue: #E9FBFF;
    --mid-blue: #136985;
    --dark-blue: #05414e;
    --dark-blue-hov: #022f39;
    --high-blue: #45E4EE;
    --high-blue-hov: #97f8ff;
    --form-blue: #b6e3e9;
    --pale-pink: #ffd5d9;
    --mid-pink: #ffa8b0;
    --high-pink: #F45C68;
    --high-pink-hov:#d9414e;
    --chal-low: #FFE3A5;
    --chal-med: #FFC751;
    --chal-high: #FF7A00;
    --who-women: #A94ED4;
    --who-men: #826B95;
    --who-all: #58019D;
    --button-edit: #1a8862;
    --button-edit-hov: #00a86d;
    --button-del: #ce4a4a;
    --button-del-hov: #f54a4a;
}

.swim-bg-white {
    background-color: var(--white);
}

.swim-bg-lgrey {
    background-color: var(--light-grey);
}

.swim-bg-grey {
    background-color: var(--grey);
}

.swim-bg-dblue {
    background-color: var(--dark-blue);
}

.swim-bg-mblue {
    background-color: var(--mid-blue);
}

.swim-bg-pblue {
    background-color: var(--pale-blue);
}

.swim-bg-hblue {
    background-color: var(--high-blue);
}

.swim-bg-hpink {
    background-color: var(--high-pink);
}

.swim-bg-fun {
    background-color: var(--chal-low);
}

.swim-bg-intermediate {
    background-color: var(--chal-med);
}

.swim-bg-challenging {
    background-color: var(--chal-high);
}

.swim-bg-women-only {
    background-color: var(--who-women);
}

.swim-bg-men-only {
    background-color: var(--who-men);
}

.swim-bg-all-welcome {
    background-color: var(--who-all);
}

.swim-txt-white {
    color: var(--white);
}

.swim-txt-dblue {
    color: var(--dark-blue);
}

.swim-txt-black {
    color: var(--black);
}

html {
    background-color: #475967;
}


/* Text */

.font-title {
    font-family: "Jost", sans-serif
}

.font-body {
    font-family: "Lato", sans-serif
}

.weight-300 {
    font-weight: 200;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.weight-900 {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

.link-text {
    color: var(--dark-blue);
    text-decoration: underline;
}

p {
    font-size: 16px;
}



/* Whole Page Layout */

*,
.popover-content *,
.intro-div *,
#home-hero-div * {
    margin: 0;
}

body, nav {
    max-width: 1750px;
    margin: 0 auto;
    background-color: var(--white);
}

main, footer {
    position: relative;
    top: 15px;
}

.div-shadow {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}


/* base.html */
/* Nav Bar */

nav {
    box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.25);
    height: 80px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    line-height: 80px;
}

.nav-wrapper {
    padding: 0px 50px;
}

.nav-wrapper a {
    max-height: 100%;
}

nav .brand-logo-swim,
nav ul a,
nav a,
header ul a,
.dropdown-content li > a,
.sidenav li > a {
    color: var(--dark-blue);
}

header,
.sidenav li > a {
    font-weight: 600;
}

.brand-logo-swim img {
    width: auto;
    height: 40px;
    margin: 18px 0px 22px 0px;
}

nav ul a {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

nav ul a:hover {
    background-color: var(--form-blue);
}

i.right {
    margin-left: 10px;
}

.dropdown-content {
    min-width: 120px;
}

.dropdown-content li > a {
    font-size: 1rem;
}


/* Flashes */

.flashes {
    padding: 15px;
    position: relative;
    top: 15px;
}

.flashes h1 {
    margin: 0;
    font-size: 16px;
}


/* Footer */

.page-footer {
    padding: 30px 50px;
}

footer > .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#footer-contact {
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-div {
    width: 50%;
}

footer p,
footer h4 {
    margin: 0;
}

footer h4 {
    margin-bottom: 0.5em;
    font-size: 16px;
}

#copyright-div {
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-wrap: wrap;
    align-self: flex-end;
    position: relative;
    bottom: -8px;
}

#social-links a {
    margin-right: 20px;
}

#social-links a {
    text-decoration: none;
    font-size: 32px;
    color: var(--white);
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#social-links a:hover {
    color: var(--high-pink);
}

#disclaimer-div {
    text-align: right;
}


/* Buttons */
.swim-btn-large,
.swim-btn-small,
.swim-btn-flexi {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.swim-btn-large {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
}

.swim-btn-small {
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.swim-btn-flexi {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-hpink,
.btn-hpink:focus {
    background-color: var(--high-pink);
    color: var(--white);
}

.btn-hpink:hover {
    background-color: var(--high-pink-hov);
}

.btn-hblue,
.btn-hblue:focus {
    background-color: var(--high-blue);
    color: var(--dark-blue);
}

.btn-hblue:hover {
    background-color: var(--high-blue-hov);
}

.btn-dblue,
.btn-dblue:focus {
    background-color: var(--dark-blue);
    color: var(--white);
}

.btn-dblue:hover {
    background-color: var(--mid-blue)
}

.btn-mblue,
.btn-mblue:focus {
    background-color: var(--mid-blue);
    color: var(--white);
}

.btn-mblue:hover {
    background-color: var(--dark-blue);
}

.btn-lgrey,
.btn-lgrey:focus {
    background-color: var(--light-grey);
    color: var(--dark-blue);
}

.btn-lgrey:hover {
    background-color: var(--grey);
}

.btn-edit,
.btn-edit:focus {
    background-color: var(--button-edit);
}

.btn-edit:hover {
    background-color: var(--button-edit-hov);
}

.btn-delete,
.btn-delete:focus {
    background-color: var(--button-del);
}

.btn-delete:hover {
    background-color: var(--button-del-hov);
}

.swim-btn-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


/* Intro Div - Multiple Pages */

.intro-div {
    text-align: center;
    padding: 50px;
    padding: 50px 200px;
}

.intro-div p,
.intro-div h1 {
    margin: 0;
}

.intro-div h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.intro-div-p-group {
    margin-top: 10px;
}


/* Home Page */

#home-hero-div {
    position: relative;
    height: 600px;
    background-image: url(../images/home-hero-lg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    justify-content: center;
}

#home-hero-text-div {
    position: absolute;
    bottom: 15%;
    opacity: 0.9;
    padding: 30px 0;
}

#home-hero-text-div * {
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

#home-hero-text-div h1 {
    font-size: 48px;
    padding: 0 20px 15px 20px;
}

.home-text-div h1 {
    margin-bottom: 20px;
}

.home-text-div p {
    max-width: 800px;
    margin: 0 auto;
}

.home-text-div p:first-of-type,
.home-text-div .swim-btn-large {
    margin-bottom: 30px;
}

#home-map-div {
    padding-bottom: 100px;
}

#map-home {
    height: 800px;
    width: 100%;
}

/* Google Map Info Window Styling */

.gm-style-iw * {
    margin: 0 !important;
}

.gm-style .gm-style-iw-c {
    padding: 0;
    width: 80% !important;
    max-width: 400px !important;
    border-radius: 0px !important;
    max-height: 500px !important;
}

.gm-style .gm-style-iw-d {
    overflow: auto !important;
}

.iw-title,
.iw-content p {
    padding: 15px;
}

.iw-title> a {
    display: contents;
    width: fit-content;
}

.iw-location-name-div {
    width: 350px;
}

.iw-title .iw-location-name-div h2 {
    font-size: 22px;
}

.iw-title .iw-location-name-div h2 a {
    color: var(--white);
    text-decoration: underline;
    word-break: break-word;
}

.iw-title .iw-location-name-div h2,
.iw-title p {
    display: inline-block;
    width: fit-content;
}

.iw-title p {
    margin-left: 10px !important;
}

.iw-img-div {
    overflow: hidden;
    max-height: 200px;
    display: flex;
    align-items: center;
}

.iw-img-div img {
    width: 100%;
}

/* Google Map Info Window Close Button */
.gm-ui-hover-effect {
    width: 30px !important;
    height: 30px !important;
    top: 10px !important;
    right: 10px !important;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.gm-ui-hover-effect>span {
    width: 100% !important;
    height: 100% !important;
    background-color: var(--white);
}

/* Google Map Info Window Hover Effect */
.iw-img-div img,
.iw-content,
.iw-title .iw-location-name-div h2 a {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.swim-iw-link:hover .iw-content {
    background-color: #dae0e2;
}

.swim-iw-link:hover .iw-title {
    background-color: var(--dark-blue-hov);
}

.swim-iw-link:hover .iw-img-div img {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.swim-iw-link-head:hover {
    color: var(--high-blue);
}


/* Forms */

.form-page-wrapper {
    position: relative;
    padding-bottom: 100px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.swim-form {
    width: 80%;
    max-width: 800px;
    padding: 50px;
    border-radius: 5px;
}

.input-field {
    margin: 0;
    margin-bottom: 20px;
}

.input-field input {
    font-size: 16px !important;
}

.input-field > label,
.input-info-div-wrapper > label {
    position: relative;
    color: var(--dark-blue);
    font-size: 1rem;
}

.input-field.col label {
    left: 0;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=url]:not(.browser-default),
textarea {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    margin: 5px 0 0 0;
    padding: 0px 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=number]:not(.browser-default) {
    padding: 0px 10px;
    width: calc(100% - 20px);
}

.dropdown-content {
    border-radius: 5px;
}

textarea {
    padding: 10px;
    height: 120px;
}

#location_parking,
#location_facilities {
    height: 80px;
}

:focus-visible {
    outline: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
textarea:focus,
.select-wrapper input.select-dropdown:focus {
    border: 1px solid var(--dark-blue);
    box-shadow: 0 1px 2px 0 var(--black);
}

input.valid[type=text]:not(.browser-default),
input.valid[type=password]:not(.browser-default),
input.valid[type=url]:not(.browser-default),
textarea.valid {
    border-bottom: none;
    border: 2px solid var(--button-edit-hov);
}

input.invalid[type=text]:not(.browser-default),
input.invalid[type=password]:not(.browser-default),
input.invalid[type=url]:not(.browser-default),
textarea.invalid {
    border-bottom: none;
    border: 2px solid var(--high-pink);
}

input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.invalid[type=number]:not(.browser-default),
input.invalid[type=number]:not(.browser-default):focus {
    border-bottom: 1px solid var(--dark-blue);
    box-shadow: none;
}

.select-dropdown,
.select-dropdown li.disabled>span,
input::placeholder,
textarea::placeholder {
    color: var(--dark-grey);
}

.dropdown-content li>span {
    color: var(--mid-blue);
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    font-weight: 400;
}

.datepicker-date-display,
.timepicker-digital-display {
    background-color: var(--mid-blue);
}

.datepicker-date-display,
.datepicker-day-button,
.confirmation-btns button,
.timepicker-digital-display {
    font-family: "Lato", sans-serif;
}

.datepicker-cancel,
.datepicker-done,
.timepicker-close {
    color: var(--dark-blue);
    font-weight: 600;
}

.form-button-row {
    margin-top: 50px;
}

.below-form-text-div {
    margin-top: 50px;
}

.timepicker-canvas line {
    stroke: var(--high-pink);
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: var(--high-pink);
}

input[type=file] {
    padding: 5px 5px 5px 0;
    max-width: 100%;
}

input::file-selector-button {
    margin-right: 10px;
    border-radius: 4px;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    font-weight: 500;
    background-color: var(--white);
    color: var(--dark-blue);
    overflow: visible;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

input::file-selector-button:hover {
    background-color: var(--pale-blue);
}

input[data-readonly] {
    pointer-events: none;
}

.coord-clicker {
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

/* Info buttons on form - trigger popovers */

.input-info-div-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.input-info-div-wrapper .select-wrapper .select-dropdown {
    margin-top: 0;
    width: 250px;
}

.question-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 22px;
    margin-left: 10px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}


/* Popover styling - Hover Info Boxes */
/* Adapted from https://codepen.io/chocochip/pen/zYxMgRG */

.popover-wrapper {
    padding: 7px 0;
    cursor: pointer;
}

.popover-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    transform: translate(0, 10px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border: 3px solid var(--mid-blue);
    border-radius: 4px;
    overflow: auto;
}
  
.popover-header,
.popover-content p  {
    padding: 10px;
}

.popover-header h2 {
    font-size: 20px;
}

.popover-content p a {
    font-weight: 700;
    color: var(--dark-blue);
    text-decoration: underline;
}

.popover-wrapper:hover .popover-content,
.popover-wrapper:focus .popover-content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}

.popover-wrapper:hover .question-circle {
    background-color: var(--high-pink);
    cursor: pointer;
}

#popover-location-image {
    bottom: 45px;
}


/* Location Picker (add location form) */

#lat-long-inputs {
    margin-bottom: 0;
}

#lat-long-inputs .input-field {
    padding: 0;

}

#lp-modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
}

#location-picker-box {
    position: fixed;
    top: 160px;
    width: 60%;
    min-width: 500px;
    max-width: 750px;
    overflow: hidden;
    margin: 0 auto;
}

#lp-header {
    padding: 20px 15px;
}

#lp-header h1 {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}

#lp-header a {
    font-size: 24px;
    float: right;
    line-height: 1;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#lp-header a:hover {
    color: var(--high-blue);
    cursor: pointer;
}

#lp-header * {
    display: inline-block;
}

#lp-map-wrapper {
    height: 400px;
    position: relative;
}

#lp-map {
    width: 100%;
    height: 100%;
}

#lp-buttons-div {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 60px;
}

#lp-error-message {
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 45%;
    padding: 20px 10px;
    transform: scale(90% 90%);
    opacity: 0%;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

#lp-error-message.lp-animate {
    transform: scale(100% 100%);
    opacity: 100%;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;

}



/* Events */
/* Events Search Bar */

.search-wrapper {
    padding: 30px 50px;
}

.search-div {
    display: flex;
    flex-wrap: wrap;
}

.search-div h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.search-div h3 i {
    margin-left: 10px;
    font-size: 22px;
    vertical-align: middle;
}

.search-buttons-div {
    display: flex;
    flex-wrap: wrap;
}

.search-div-section {
    padding-bottom: 20px;
    padding-right: 50px;
}


.search-filter-btn {
    margin: 10px 10px 10px 0;
}

#search-reset {
    position: relative;
    bottom: 5px;
    display: inline;
}

.swim-collapsible {
    margin: 0;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.swim-collapsible i {
    margin-right: 10px;
}

.swim-collapsible:hover {
    color: var(--high-pink);
    cursor: pointer;
}

.swim-collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/* Events Cards (events) & Location Cards (manage locations)*/

.events-div,
.locations-div {
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.event-card,
.location-card {
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    align-self: start;
}

.event-card {
    width: 280px;
}

.location-card {
    width: 250px;
}

.event-card-clickable,
.location-card-clickable {
    position: relative;
}

.event-card-clickable {
    padding-bottom: 10px;
}

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.event-image,
.location-image {
    overflow: hidden;
}

.event-image {
    height: 130px;
}

.location-image {
    height: 100px;
}

.event-card img,
.location-card img {
    width: 100%;
    object-fit: cover;
    background-color: var(--white);
}

.event-card img {
    height: 130px;
}

.location-card img {
    height: 100px;
}

.event-card-text {
    padding: 10px;
}

.location-card-text {
    padding: 15px 10px;
}

.event-card-text h2,
.location-card-text h2 {
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: 16px;
    word-wrap: break-word;
}

.event-card-text p {
    font-size: 14px;
}

.event-card-text em p {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.event-card-text p i {
    margin-right: 5px;
}

.event-card-text p:last-of-type {
    word-wrap: break-word;
}

.event-marker-row,
.event-when-row {
    display: flex;
    justify-content: center;
}

.event-marker-row {
    padding: 0 10px 10px 10px;
    gap: 5px;
}

.event-when-row {
    gap: 10px;
}

.event-marker {
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 14px;
}

.card-edit-div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-edit-div> :first-child {
    margin-right: 30px;
}


/* Events Cards Hover Effect */

.event-card-clickable,
.event-image img,
.location-card-clickable,
.location-image img {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

.event-card-clickable:hover .event-image img,
.location-card-clickable:hover .location-image img {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.event-card-clickable:hover,
.location-card-clickable:hover {
    background-color: #dae0e2;
}


/* Events - Back to Top Button */

.btt-btn-div {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}




/* Event Page */

.event-page-wrapper,
.location-page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.event-image-div {
    height: 300px;
}

.event-image-div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: var(--white);
}

.event-page-text {
    padding: 20px 200px 50px 200px;
}

.event-page-text h1 {
    font-size: 36px;
    word-wrap: break-word;
}

.created-by,
.when-where-row,
.event-page-markers {
    margin-top: 10px;
}

.when-where-row,
.event-page-markers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.when-where-row {
    flex-wrap: wrap;
    font-size: 20px;
    column-gap: 20px;
}

.event-page-text h1,
.event-page-location h2,
.event-page-location {
    margin: 0 auto;
}

.event-page-text p i {
    margin-right: 5px;
}

.event-page-markers,
.event-description,
.event-page-location-text {
    font-size: 16px;
}

.event-page-markers {
    gap: 10px;
}

.event-description {
    margin-top: 20px;
}

.event-page-location {
    padding: 50px;
    display: flex;
}

.event-page-location .col {
    padding: 0;
}

.event-page-location .col.event-page-map {
    padding-right: 15px;
}

.event-page-location .col.event-page-location-text {
    padding-left: 15px;
}

#map-event {
    height: 100%;
    width: 100%;
}

.event-page-location-text h2 {
    font-size: 24px;
    word-break: break-all;
}

.co-ordinates {
    margin-bottom: 10px;
}

.loc-description-para {
    margin-top: 10px;
}

.location-link {
    margin-top: 15px;
}

.location-link a {
    padding: 5px 10px;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.location-link a:hover {
    background-color: var(--pale-blue);
    color: var(--dark-blue);
    text-decoration: none;
}

.edit-div {
    padding: 20px 15px 30px 15px;
}

.edit-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.edit-buttons> :first-child {
    margin-right: 40px;
}

.edit-div p {
    font-size: 20px;
}




/* Location Page */

.location-page-wrapper h1,
.location-page-wrapper .row {
    margin: 0 auto;
}

.location-name-div {
    padding: 30px 200px;
}

.location-name-div h1 {
    font-size: 36px;
    word-break: break-all;
}

.location-name-div p {
    font-size: 20px;
}

.location-image-div {
    height: 350px;
    display: flex;
    align-content: center;
}

.location-image-div img {
    width: 100%;
    object-fit: cover;
    background-color: var(--white);
}

.location-info-div {
    padding: 50px 25px;
}

.location-info-div .col {
    padding: 0 15px;
}

.location-park-fac p:first-child {
    margin-bottom: 10px;
}

.intro-div h2 {
    font-size: 24px;
    margin-bottom: 10px;
    word-break: break-all;
}

#map-location {
    height: 430px;
    width: 100%;
}


/* Modal - delete confirm */

.modal {
    margin-top: 5%;
}

.modal-contents {
    padding: 20px;
}

.modal-contents p,
.modal-contents h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.modal .modal-footer {
    background-color: var(--light-grey);
    height: fit-content;
    display: flex;
    justify-content: center;
}

.modal .modal-footer> :first-child {
    margin-right: 30px;
}


/* 404 & 500 Pages */

#error-page-contents {
    margin: 50px auto;
}

#error-page-contents h1,
#error-page-contents p {
    margin: 0;
}

#error-page-contents h1 {
    font-size: 96px;
}

#error-page-contents img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

#error-page-contents p {
    margin-bottom: 20px;
}

#error-page-contents a {
    margin: 0 auto;
}



/* Media Queries */

@media only screen and (max-width: 992px) {

    .nav-wrapper {
        padding: 0px 25px;
    }

    .footer-div {
        width: 100%;
    }

    #copyright-div {
        justify-content: center;
        order: 2;
        bottom: 0;
    }

    #disclaimer-div {
        text-align: center;
        margin-bottom: 20px;
    }
    
    #home-hero-div {
        height: 450px;
        background-image: url(../images/home-hero-md.jpg);
    }

    #home-hero-text-div {
        bottom: 10%;
        padding: 20px 0;
    }
    
    #home-hero-text-div h1 {
        padding: 0 20px 5px 20px;
    }


    .home-text-div p:first-of-type,
    .home-text-div .swim-btn-large {
        margin-bottom: 20px;
    }

    .intro-div {
        padding: 50px;
    }

    .event-page-text {
        padding: 20px 50px 50px 50px;
    }

    .event-page-location {
        display: block;
    }

    #map-event {
        height: 300px;
    }

    .event-page-location-text {
        margin-bottom: 30px;
    }

    .event-page-location .col.event-page-map,
    .event-page-location .col.event-page-location-text {
        padding: 0;
    }

    .location-name-div {
        padding: 30px 50px;
    }

    .location-info-div .col {
        padding: 0;
    }

    .location-description,
    .location-park-fac p:first-child {
        margin-bottom: 15px;
    }

}

    


@media only screen and (max-width: 600px) {

    /* General / All Pages */
    main, footer {
        top: 0;
    }

    .brand-logo-swim img {
        height: 24px;
        margin: 14px 0px 12px 0px;
    }

    nav {
        height: 50px;
    }
    
    nav,
    nav .nav-wrapper i,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
        line-height: 50px;
    }

    .navbar-fixed {
        height: 50px;
    }
    
    .nav-wrapper {
        padding: 0px 20px;
    }

    .flashes {
        padding: 15px;
        top: 0;
    }

    .page-footer {
        padding: 30px 20px;
    }

    .intro-div,
    .search-wrapper {
        padding: 30px 20px
    }

    .intro-div h1,
    .location-name-div h1 {
        font-size: 32px;
    }


    /* Home */
    #home-hero-div {
        height: 250px;
        background-image: url(../images/home-hero-sm.jpg);
    }

    #home-hero-text-div {
        width: 250px;
        bottom: 10%;
        padding: 10px 0;
    }
    
    #home-hero-text-div h1 {
        font-size: 24px;
        padding: 0 10px 0 10px;
    }

    #home-hero-text-div p {
        font-size: 12px;
    }

    
    /* Home - map */
    #home-map-div {
        padding-bottom: 50px;
    }

    #map-home {
        height: 500px;
    }

    /* Google Map Info Window Styling */
    .gm-style .gm-style-iw-c {
        width: 300px !important;

    }

    .gm-style-iw-d {
        max-height: 450px !important;
    }

    .iw-location-name-div {
        width: 240px;
    }

    .iw-title .iw-location-name-div h2 {
        font-size: 16px;
    }

    .iw-img-div {
        max-height: 150px;
    }


    /* Location Page */
    .location-name-div {
        padding: 30px 25px;
    }

    .location-name-div p {
        font-size: 16px;
    }

    .location-image-div {
        height: 200px;
    }

    .location-info-div {
        padding: 25px;
    }

    #map-location {
        height: 300px;
    }



    /* Events Page */
    .events-div,
    .locations-div {
        padding: 30px 15px
    }

    .search-div-section {
        padding-right: 0px;
    }


    /* Event Info Page */
    .event-page-text h2 {
        font-size: 24px;
    }

    .event-page-text {
        padding: 20px 20px 30px 20px;
    }

    .event-image-div,
    .event-image-div img {
        height: 150px;
    }

    .created-by,
    .when-where-row {
        margin-top: 5px;
    }

    .event-description {
        margin-top: 10px;
    }

    .event-page-location {
        padding: 30px 0px 50px 0;
    }

    .event-page-location .col.event-page-location-text {
        padding: 0 20px;
    }

    .event-page-map {
        width: 100%;
    }


    /* Forms */
    .form-page-wrapper {
        padding-bottom: 60px;
    }

    .form-wrapper {
        margin-top: 30px;
    }

    .swim-form {
        width: 90%;
        padding: 30px 20px;
    }

    .form-button-row {
        margin-top: 30px;
    }

    /* Location Picker */
    #location-picker-box {
        top: 15%;
        width: 90%;
        min-width: 0;
    }

    #lp-header {
        padding: 15px;
    }

    #lp-header h1 {
        font-size: 15px;
        line-height: 1;
    }

    #lp-header a {
        font-size: 22px;
        line-height: 0.8;
    }

    #lp-map-wrapper {
        height: 350px;
    }



    /* Modals / Info Boxes */

    .popover-content {
        margin: 0 3% 0 3%;
        width: 94%;
    }

    .input-info-div-wrapper .select-wrapper .select-dropdown {
        width: 160px;
    }


   /* 400 & 500 pages */
    
    #error-page-contents h1 {
        font-size: 48px;
    }
}

/* Hover effects on search buttons - only on hover devices */
@media (hover: hover) {

    .search-filter-btn:hover {
        background: var(--pale-pink);
    }

    .swim-selected:hover {
        background-color: var(--mid-pink);
    }

}


/* JavaScript Classes */

.collapse-open {
    margin-bottom: 20px;
}

.hidden {
    display: none !important;
}

.swim-selected {
    background-color: var(--mid-pink);
}

.test {
    width: 400px;
}


