/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&family=Lato:wght@300;400;500;600;700;800;900&display=swap');

html {
    scroll-behavior: smooth;
  }

/* General Styles */
/* Colours */
:root {
    --white: #ffffff;
    --light-grey: #F4F4F4;
    --grey: #D8D8D8;
    --dark-grey: #626262;
    --black: #000000;
    --pale-blue: #E9FBFF;
    --mid-blue: #136985;
    --dark-blue: #05414e;
    --high-blue: #45E4EE;
    --high-blue-hov: #97f8ff;
    --form-blue: #b6e3e9;
    --high-pink: #F45C68;
    --high-pink-hov:#d9414e;
    --chal-low: #FFE3A5;
    --chal-med: #FFC751;
    --chal-high: #FF7A00;
    --who-women: #A94ED4;
    --who-men: #826B95;
    --who-all: #58019D;
    --button-edit: #1a8862;
    --button-edit-hov: #00a86d;
    --button-del: #ce4a4a;
    --button-del-hov: #f54a4a;
}

.swim-bg-white {
    background-color: var(--white);
}

.swim-bg-lgrey {
    background-color: var(--light-grey);
}

.swim-bg-grey {
    background-color: var(--grey);
}

.swim-bg-dblue {
    background-color: var(--dark-blue);
}

.swim-bg-mblue {
    background-color: var(--mid-blue);
}

.swim-bg-pblue {
    background-color: var(--pale-blue);
}

.swim-bg-hblue {
    background-color: var(--high-blue);
}

.swim-bg-hpink {
    background-color: var(--high-pink);
}

.swim-bg-fun {
    background-color: var(--chal-low);
}

.swim-bg-intermediate {
    background-color: var(--chal-med);
}

.swim-bg-challenging {
    background-color: var(--chal-high);
}

.swim-bg-women-only {
    background-color: var(--who-women);
}

.swim-bg-men-only {
    background-color: var(--who-men);
}

.swim-bg-all-welcome {
    background-color: var(--who-all);
}

.swim-txt-white {
    color: var(--white);
}

.swim-txt-dblue {
    color: var(--dark-blue);
}

.swim-txt-black {
    color: var(--black);
}

html {
    background-color: #475967;
}


/* Text */

.font-title {
    font-family: "Jost", sans-serif
}

.font-body {
    font-family: "Lato", sans-serif
}

.weight-300 {
    font-weight: 200;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 800;
}

.weight-900 {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

.link-text {
    color: var(--dark-blue);
    text-decoration: underline;
}

p {
    font-size: 16px;
}


/* Whole Page Layout */
body, nav {
    max-width: 1750px;
    margin: 0 auto;
    background-color: var(--white);
}

main, footer {
    position: relative;
    top: 15px;
}

.div-shadow {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}


/* base.html */
/* Nav Bar */

nav {
    box-shadow: 0px 4px 18px -1px rgba(0, 0, 0, 0.25);
    height: 80px;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    line-height: 80px;
}

.nav-wrapper {
    padding: 0px 50px;
}

.nav-wrapper a {
    max-height: 100%;
}

nav .brand-logo-swim,
nav ul a,
nav a,
header ul a,
.dropdown-content li > a,
.sidenav li > a {
    color: var(--dark-blue);
}

header,
.sidenav li > a {
    font-weight: 600;
}

.brand-logo-swim img {
    width: auto;
    height: 40px;
    margin: 18px 0px 22px 0px;
}

nav ul a {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

nav ul a:hover {
    background-color: var(--form-blue);
}

i.right {
    margin-left: 10px;
}

.dropdown-content {
    min-width: 120px;
}

.dropdown-content li > a {
    font-size: 1rem;
}


/* Flashes */

.flashes {
    padding: 15px;
    position: relative;
    top: 15px;
}

.flashes p {
    margin: 0;
}


/* Footer */

.page-footer {
    padding: 30px 50px;
}

footer > .row {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

#footer-contact {
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 30px;
    font-size: 16px;
}

.footer-div {
    width: 50%;
}

footer p,
footer h4 {
    margin: 0;
}

footer h4 {
    margin-bottom: 0.5em;
    font-size: 16px;
}

#copyright-div {
    display: flex;
    justify-content: left;
    align-items: baseline;
    flex-wrap: wrap;
    align-self: flex-end;
    position: relative;
    bottom: -8px;
}

#social-links a {
    margin-right: 20px;
}

#social-links a {
    text-decoration: none;
    font-size: 32px;
    color: var(--white);
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

#social-links a:hover {
    color: var(--high-pink);
}

#disclaimer-div {
    text-align: right;
}


/* All Pages - Repeating Elements */
/* Buttons */
.swim-btn-large,
.swim-btn-small,
.swim-btn-flexi {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.swim-btn-large {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 16px;
}

.swim-btn-small {
    width: 85px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.swim-btn-flexi {
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
}

.btn-hpink {
    background-color: var(--high-pink);
    color: var(--white);
}

.btn-hpink:hover,
.btn-hpink:focus {
    background-color: var(--high-pink-hov);
}

.btn-hblue {
    background-color: var(--high-blue);
    color: var(--dark-blue);
}

.btn-hblue:hover,
.btn-hblue:focus {
    background-color: var(--high-blue-hov);
}

.btn-dblue {
    background-color: var(--dark-blue);
    color: var(--white);
}

.btn-dblue:hover,
.btn-dblue:focus {
    background-color: var(--mid-blue)
}

.btn-edit {
    background-color: var(--button-edit);
}

.btn-edit:hover,
.btn-edit:focus {
    background-color: var(--button-edit-hov);
}

.btn-delete {
    background-color: var(--button-del);
}

.btn-delete:hover,
.btn-delete:focus {
    background-color: var(--button-del-hov);
}

.swim-btn-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}


/* Intro Div */

.intro-div {
    text-align: center;
    padding: 50px;
}

.intro-div p,
.intro-div h1 {
    margin: 0;
}

.intro-div h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

.intro-div-p-group {
    margin-top: 10px;
}


/* Forms */

.form-page-wrapper {
    position: relative;
    padding-bottom: 100px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.swim-form {
    width: 80%;
    max-width: 800px;
    padding: 50px;
    border-radius: 5px;
}

.input-field {
    margin: 0;
    margin-bottom: 20px;
}

.input-field > label {
    position: relative;
    color: var(--dark-blue);
}

.input-field.col label {
    left: 0;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
textarea {
    background-color: var(--white);
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    margin: 5px 0 0 0;
    padding: 0px 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) {
    padding: 0px 10px;
    width: calc(100% - 20px);
}

.dropdown-content {
    border-radius: 5px;
}

textarea {
    padding: 10px;
    height: 120px;
}

:focus-visible {
    outline: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea:focus,
.select-wrapper input.select-dropdown:focus {
    border: 1px solid var(--dark-blue);
    box-shadow: 0 1px 2px 0 var(--black);
}

input.valid[type=text]:not(.browser-default),
input.valid[type=password]:not(.browser-default),
textarea.valid {
    border-bottom: none;
    border: 2px solid var(--button-edit-hov);
}

input.invalid[type=text]:not(.browser-default),
input.invalid[type=password]:not(.browser-default),
textarea.invalid {
    border-bottom: none;
    border: 2px solid var(--high-pink);
}

.select-dropdown,
.select-dropdown li.disabled>span,
input::placeholder,
textarea::placeholder {
    color: var(--dark-grey);
}

.dropdown-content li>span {
    color: var(--mid-blue);
    font-family: "Lato", sans-serif;
    font-size: 14px;
}

input::placeholder,
textarea::placeholder {
    font-weight: 400;
}

.datepicker-date-display,
.timepicker-digital-display {
    background-color: var(--mid-blue);
}

.datepicker-date-display,
.datepicker-day-button,
.confirmation-btns button,
.timepicker-digital-display {
    font-family: "Lato", sans-serif;
}

.datepicker-cancel,
.datepicker-done,
.timepicker-close {
    color: var(--dark-blue);
    font-weight: 600;
}

.form-button-row {
    margin-top: 50px;
}

.below-form-text-div {
    margin-top: 50px;
}

.timepicker-canvas line {
    stroke: var(--high-pink);
}

.timepicker-canvas-bg,
.timepicker-canvas-bearing {
    fill: var(--high-pink);
}


/* Info buttons on form - modal triggers */

.input-info-div-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.input-info-div-wrapper .select-wrapper .select-dropdown {
    margin-top: 0;
    width: 250px;
}

.question-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 22px;
    margin-left: 10px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.question-circle:hover {
    background-color: var(--high-pink);
    cursor: pointer;
}

.swim-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.swim-modal-contents {
    margin: 20% auto;
    border: 3px solid var(--mid-blue);
    width: 50%;
    border-radius: 4px;
    overflow: auto;
}

.swim-modal-contents * {
    margin: 0;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.swim-modal-contents h2 {
    font-size: 20px;
}

.close {
    font-size: 30px;
    line-height: 55%;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.close:hover,
.close:focus {
  color: var(--dark-blue);
  text-decoration: none;
  cursor: pointer;
}

.swim-modal-contents p {
    padding: 10px 20px 20px 20px;
}

.swim-modal-contents p a {
    font-weight: 700;
    color: var(--dark-blue);
    text-decoration: underline;
}

/* modal styling for confirm modals - Materialize overrides*/

.modal * {
    margin: 0;
}

.modal {
    margin-top: 5%;
}

.modal-contents {
    padding: 20px;
}

.modal-contents h2 {
    font-size: 24px;
}

.modal-contents p {
    font-size: 16px;
}

.modal-contents p,
.modal-contents h2 {
    margin-bottom: 10px;
}

.modal .modal-footer {
    background-color: var(--light-grey);
    height: fit-content;
    display: flex;
    justify-content: center;
}

.modal .modal-footer> :first-child {
    margin-right: 30px;
}





/* events.html */
/* Events Search Bar */

.search-wrapper {
    padding: 30px 50px;
}

.search-div {
    display: flex;
    flex-wrap: wrap;
}

.search-div h3 {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.search-div h3 i {
    margin-left: 10px;
    font-size: 22px;
    vertical-align: middle;
}

.search-buttons-div {
    display: flex;
    flex-wrap: wrap;
}

.search-buttons-div p {
    margin: 10px 10px 10px 0;
}

.search-div-section {
    padding-bottom: 20px;
    padding-right: 50px;
}

.search-div {
    margin-bottom: 5px;
}

.swim-collapsible {
    margin: 0;
    font-size: 16px;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.swim-collapsible i {
    margin-right: 10px;
}

.swim-collapsible:hover {
    color: var(--high-pink);
    cursor: pointer;
}

.swim-collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Events Cards */

.events-div {
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.event-card * {
    margin: 0;
}

.event-card {
    width: 280px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    align-self: start;
}

.event-card-clickable {
    position: relative;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.event-card-clickable:hover {
    background-color: #dae0e2;
}

.card-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.event-image {
    height: 130px;
}

.event-card img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    background-color: var(--white);
}

.event-card-text {
    padding: 10px;
}

.event-card-text h2 {
    margin: 0;
    font-size: 16px;
    text-decoration: underline;
}

.event-card-text p {
    font-size: 14px;
}

.event-card-text em p {
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 5px;
}

.event-card-text p i {
    margin-right: 5px;
}

.event-marker-row,
.event-when-row {
    display: flex;
    justify-content: center;
}

.event-marker-row {
    padding: 0 10px 10px 10px;
    gap: 5px;
}

.event-when-row {
    gap: 10px;
}

.event-marker {
    padding: 3px 10px;
    border-radius: 2px;
    font-size: 14px;
}

.card-edit-div {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-edit-div> :first-child {
    margin-right: 40px;
}

.btt-btn-div {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}



/* Event Info Page */

.event-page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.event-page-wrapper * {
    margin: 0;
}

.event-image-div {
    height: 300px;
}

.event-image-div img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: var(--white);
}

.event-page-text {
    padding: 20px 200px 50px 200px;
}

.event-page-text h2 {
    font-size: 36px;
}

.created-by,
.when-where-row,
.event-page-markers {
    margin-top: 10px;
}

.when-where-row,
.event-page-markers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.when-where-row {
    flex-wrap: wrap;
    font-size: 20px;
    column-gap: 20px;
}

.event-page-text p i {
    margin-right: 5px;
}

.event-page-markers,
.event-description,
.event-page-location-text {
    font-size: 16px;
}

.event-page-markers {
    gap: 10px;
}

.event-description {
    margin-top: 20px;
}

.event-page-location {
    padding: 50px;
}

.event-page-location .col {
    padding: 0;
}

.event-page-location .col.event-page-map {
    padding-right: 15px;
}

.event-page-location .col.event-page-location-text {
    padding-left: 15px;
}

.event-page-map img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    background-color: var(--white);
}

.event-page-location-text h3 {
    font-size: 24px;
}

.co-ordinates {
    margin-bottom: 10px;
}

.loc-description-para {
    margin-top: 10px;
}

.event-edit-div {
    padding: 20px 15px 30px 15px;
}

.event-edit-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.event-edit-buttons> :first-child {
    margin-right: 40px;
}

.event-edit-div p {
    font-size: 20px;
}



/* JavaScript Classes */

.collapse-open {
    margin-bottom: 20px;
}


/* Media Queries */

@media only screen and (max-width: 992px) {

    .nav-wrapper {
        padding: 0px 25px;
    }

    .footer-div {
        width: 100%;
    }

    #copyright-div {
        justify-content: center;
        order: 2;
        bottom: 0;
    }

    #disclaimer-div {
        text-align: center;
        margin-bottom: 20px;
    }

    .event-page-text {
        padding: 20px 50px 50px 50px;
    }

    .event-page-location-text {
        margin-bottom: 30px;
    }

    .event-page-location .col.event-page-map,
    .event-page-location .col.event-page-location-text {
        padding: 0;
    }

    .swim-modal-contents {
        width: 70%;
    }

}


@media only screen and (max-width: 600px) {

    /* General / All Pages */
    main, footer {
        top: 0;
    }

    .brand-logo-swim img {
        height: 24px;
        margin: 14px 0px 12px 0px;
    }

    nav {
        height: 50px;
    }
    
    nav,
    nav .nav-wrapper i,
    nav a.sidenav-trigger,
    nav a.sidenav-trigger i {
        line-height: 50px;
    }

    .navbar-fixed {
        height: 50px;
    }
    
    .nav-wrapper {
        padding: 0px 20px;
    }

    .flashes {
        padding: 15px;
        top: 0;
    }

    .page-footer {
        padding: 30px 20px;
    }

    .intro-div,
    .search-wrapper {
        padding: 30px 20px
    }

    .intro-div h1 {
        font-size: 32px;
    }


    /* Events Page */
    .events-div {
        padding: 30px 15px
    }

    .search-div-section {
        padding-right: 0px;
    }


    /* Event Info Page */
    .event-page-text h2 {
        font-size: 24px;
    }

    .event-page-text {
        padding: 20px 20px 30px 20px;
    }

    .event-image-div,
    .event-image-div img {
        height: 150px;
    }

    .created-by,
    .when-where-row {
        margin-top: 5px;
    }

    .event-description {
        margin-top: 10px;
    }

    .event-page-location {
        padding: 30px 0px 50px 0;
    }

    .event-page-location .col.event-page-location-text {
        padding: 0 20px;
    }

    .event-page-map {
        width: 100%;
    }


    /* Forms */
    .form-page-wrapper {
        padding-bottom: 60px;
    }

    .form-wrapper {
        margin-top: 30px;
    }

    .swim-form {
        width: 90%;
        padding: 30px 20px;
    }

    .form-button-row {
        margin-top: 30px;
    }


    /* Modals / Info Boxes */
    .swim-modal-contents {
        width: 80%;
    }

    .input-info-div-wrapper .select-wrapper .select-dropdown {
        width: 160px;
    }

    .swim-modal-contents {
        max-height: 500px;
    }
}