{% extends "base.html" %}
{% block content %}

    <div class="container swim-txt-dblue" id="error-page-contents">
        <div class="row center-align">
            <h1 class="font-title weight-600">413!</h1>
        </div>
        <div class="row center-align">
            <img src="{{ url_for('static', filename='images/404-island.png') }}" alt="Cartoon of a man on a desert island">
        </div>
        <div class="row center-align font-body weight-700">
            <p class="font-body weight-700">That file is too big. Images must be less than 5MB.</p>
            <p class="swim-btn-flexi btn-hpink font-title weight-500 swim-btn-shadow" id="error-button">GO BACK TO FORM</p>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/back.js') }}"></script>
{% endblock %}