{% extends "base.html" %}
{% block content %}

    <div class="container swim-txt-dblue" id="error-page-contents">
        <div class="row center-align">
            <h1 class="font-title weight-600">500!</h1>
        </div>
        <div class="row center-align">
            <img src="{{ url_for('static', filename='images/404-island.png') }}" alt="Cartoon of a man on a desert island">
        </div>
        <div class="row center-align font-body weight-700">
            <p class="font-body weight-700">Oh no! It's an internal server error, well that's embarrassing!</p>
            <a href="{{ url_for('home')}}" class="swim-btn-small btn-hpink font-title weight-500 swim-btn-shadow center-align">GO HOME</a>
        </div>
    </div>

{% endblock %}