{% extends "base.html" %}
{% block content %}

<div class="form-page-wrapper">
    <!-- Intro Section -->
    <div class="intro-div swim-bg-hpink swim-txt-white div-shadow">
        <h1 class="font-title weight-600">ADD EVENT</h1>
        <div class="font-body weight-500 intro-div-p-group">
            <p>Fill in the form to share your wild swimming event or meetup with other members.</p>
        </div>
    </div>

    <div class="form-wrapper">
        <form class="swim-form div-shadow" method="POST" action="">
            <!-- event name -->
            <div class="input-field">
                <label for="event_name" class="font-title weight-600">EVENT NAME <em class="weight-300"> 5-50 characters</em></label>
                <input id="event_name" name="event_name" type="text" minlength="5" maxlength="50" class="validate" placeholder="e.g. Ladies Sunrise Swim" required/>
            </div>
            <!-- event location -->
            <div class="input-field">
                <label for="event-location" class="font-title weight-600">LOCATION</i></label>
                <div class="input-info-div-wrapper">
                    <select id="event_location" name="event_location" class="" required>
                        <option value="" disabled selected>CHOOSE A LOCATION</option>
                        {% for location in locations %}
                            <option value="{{location.name|upper}}">{{location.name|upper}}</option>
                        {% endfor %}
                    </select>
                    <div class="question-circle swim-txt-white swim-bg-mblue" id="modal-location">?</div>
                </div>
            </div>
            <!-- Modal Structure -->
            <!-- event description -->
            <div class="input-field">
                <label for="event_description" class="font-title weight-600">EVENT DESCRIPTION</label>
                <textarea id="event_description" name="event_description" minlength="5" maxlength="300" placeholder="e.g. What to expect, where to meet..." required></textarea>
            </div>
            <!-- submit button -->
            <div class="form-button-row">
                <button type="submit" class="swim-btn-large btn-hblue font-title weight-600 swim-btn-shadow">SIGN IN</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}