{% extends "base.html" %}


{% block content %}
<!-- Location picker modal -->
<div id="lp-modal" class="hidden">
    <div id="location-picker-box" class="div-shadow">
        <div id="lp-header" class="swim-bg-dblue">
            <h1 class="font-body weight-400 swim-txt-white">Drag the marker to a location</h1>
            <a id="lp-close" class="font-body weight-700 swim-txt-white">&#x2715</a>
        </div>
        <div id="lp-map-wrapper">
            <div id="lp-map"></div>
        </div>
        <div id="lp-buttons-div" class="swim-bg-dblue">
            <button id="lp-reset" class="swim-btn-small btn-lgrey font-title weight-500 swim-btn-shadow center-align" type="reset">RESET</button>
        </div>
    </div>
        
    </div>
</div>

<!-- Form -->
<div class="form-page-wrapper swim-bg-lgrey">
    <!-- Intro Section -->
    <div class="intro-div swim-bg-hpink swim-txt-white div-shadow">
        <h1 class="font-title weight-600">ADD LOCATION</h1>
        <div class="font-body weight-500 intro-div-p-group">
            <p>Add a new location to the site for members to select when setting up an event.</p>
        </div>
    </div>

    <div class="form-wrapper">
        <form class="swim-form swim-bg-grey div-shadow" method="POST" action="{{ url_for('add_location') }}">

            <!-- location name -->
            <div class="input-field">
                <label for="location_name" class="font-title weight-600">LOCATION NAME <em class="weight-300"> 5-20 characters</em></label>
                <input id="location_name" name="location_name" type="text" minlength="5" maxlength="20" class="validate" placeholder="e.g. Newborough Beach" required>
            </div>

            <div id="lat-long-inputs" class="row">
                <!-- location latitude -->
                <div class="input-field col s12 m4">
                    <label for="latitude" class="font-title weight-600">LATITUDE</label>
                    <input id="latitude" name="latitude" type="number" step="any" min="53.1" max="53.4" class="validate" required>
                </div>

                <!-- location longitude -->
                <div class="input-field col s12 m4 offset-m1">
                    <label for="longitude" class="font-title weight-600">LONGITUDE</label>
                    <input id="longitude" name="longitude" type="number" step="any" min="-4.8" max="-4" class="validate" required>       
                </div>
            </div>

            
            <!-- location description -->
            <div class="input-field">
                <label for="location_description" class="font-title weight-600">DESCRIPTION</label>
                <textarea id="location_description" name="location_description" class="validate" minlength="5" maxlength="300" placeholder="e.g. Conditions, safety information, sand/shingle, best time to go, common dangers, wildlife information etc." required></textarea>
            </div>

            <!-- location description -->
            <div class="input-field">
                <label for="location_parking" class="font-title weight-600">PARKING</label>
                <textarea id="location_parking" name="location_parking" class="validate" minlength="5" maxlength="300" placeholder="Availability, cost etc" required></textarea>
            </div>

            <!-- location description -->
            <div class="input-field">
                <label for="location_facilities" class="font-title weight-600">FACILITIES</label>
                <textarea id="location_facilities" name="location_facilities" class="validate" minlength="5" maxlength="300" placeholder="Cafes, toilets etc" required></textarea>
            </div>

            <!-- location longitude -->
            <div class="input-field">
                <label for="image_url" class="font-title weight-600">IMAGE URL</label>
                <div class="input-info-div-wrapper">
                    <input id="image_url" name="image_url" type="url" class="validate" placeholder="e.g https://www.photoplace.com/mybeachphoto.jpg" required>
                    <!-- Popover Info Box Adapted from https://codepen.io/chocochip/pen/zYxMgRG -->
                    <div class="popover-wrapper">
                        <div class="question-circle swim-txt-white swim-bg-mblue">?</div>
                        <div class="popover-content swim-bg-white">
                            <div class="popover-header swim-bg-mblue swim-txt-white">
                                <h2 class="font-title weight-500">WHO FOR?</h2>
                            </div>
                            <p class="font-body swim-txt-dblue weight-500">Groups can be female or male only, or open to anyone.</p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- submit button -->
            <div class="form-button-row">
                <button type="submit" class="swim-btn-large btn-hpink font-title weight-600 swim-btn-shadow">ADD LOCATION</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map-picker.js') }}"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp3bbw0F5d1sjzp5iet_vlxKb0RrevMCA&callback=initMap">
    </script>
{% endblock %}
