{% extends "base.html" %}
{% block content %}

    <div class="event-page-wrapper div-shadow">
        {% for location in locations %}
            {% if event.location_id == location._id %}
                <div class="event-image-div">
                    <img src="{{ location.image_url }}" alt="Image of {{ location.name }}">
                </div>

                <div class="event-page-text center-align swim-txt-dblue">
                    <h2 class="font-title center-align weight-600 uppercase">{{ event.name }}</h2>
                    <em><p class="font-body center-align weight-200 created-by">Created by: {{ event.created_by }}</p></em>
                    <div class="when-where-row">
                        <div class="event-place-row">
                            <p class="font-body weight-500 uppercase"><i class="fa-solid fa-location-dot"></i></i>{{ location.name }}</p>
                        </div>
                        <div class="event-when-row">
                            <p class="font-body weight-500 uppercase"><i class="fa-regular fa-calendar"></i>{{ event.date.strftime('%d/%m/%y') }}</p>
                            <p class="font-body weight-500 uppercase"><i class="fa-regular fa-clock"></i>{{ event.date.strftime('%H:%M') }}</p>
                        </div>
                    </div>
                    <div class="event-page-markers uppercase">
                        <p class="font-body weight-500 swim-txt-white event-marker swim-bg-{{event.who|lower}}">{{ event.who }}</p>
                        <p class="font-body weight-500 swim-txt-black event-marker swim-bg-{{event.challenge|lower}}">{{ event.challenge }}</p>
                    </div>
                    <div class="event-description">
                        <p class="font-body weight-500">{{ event.description }}</p>
                    </div>
                </div>

                <div class="event-page-location row">
                    <div class="event-page-location-text swim-txt-white col m12 l6 push-l6">
                        <h3 class="font-title weight-600 uppercase">{{ location.name }}</h3>
                        <p class="font-body weight-400 coordinates">{{ location.lat|truncate(9, False, "") }}, {{ location.long|truncate(9, False, "") }}</p>
                        <p class="font-body weight-400 loc-description-para">{{ location.description }}</p>
                        <p class="font-body loc-description-para"><span class="weight-600">Parking:</span><br><span class="weight-400">{{ location.parking }}</span></p>
                        <p class="font-body loc-description-para"><span class="weight-600">Facilities:</span><br><span class="weight-400">{{ location.facilities }}</span></p>
                    </div>
                    <div class="event-page-map col m12 l6 pull-l6">
                        <img src="{{ url_for('static', filename='images/map-placeholder.png')}}" alt="map of Anglesey">
                    </div>
                </div>
                            

                <!-- Add CRUD control buttons if user event -->
                {% if session.user|lower == event.created_by|lower or session.user|lower == "admin"|lower %}
                    <div class="card-edit-div swim-bg-dblue">
                        <a href="#" class="swim-btn-small btn-edit font-title swim-txt-white weight-400 swim-btn-shadow">EDIT</a>
                        <a href="#" class="swim-btn-small btn-delete font-title swim-txt-white weight-400 swim-btn-shadow">DELETE</a>
                    </div>
                {% endif %}


            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}