{% extends "base.html" %}
{% block content %}

    <!-- Intro & Add Event Button -->
    <div class="intro-div swim-bg-dblue swim-txt-white">
        <h1 class="font-title weight-600">EVENTS</h1>
        <p class="font-body weight-500">Explore member events. Click on an event to see more details. Or why not add your own event?</p>
        <a href="{{ url_for('add_event')}}" class="swim-btn-large btn-hpink font-title weight-600 swim-btn-shadow">ADD EVENT</a>
    </div>

    <!-- Search Bar -->
    <div class="events-wrapper swim-bg-lgrey">
        <div class="search-wrapper div-shadow font-title swim-txt-dblue swim-bg-white">
            <h2 class="weight-800 swim-collapsible"><i class="fa-solid fa-caret-down"></i>FILTER BY</h2>
            <div class="swim-collapsible-content">
                <div class="search-div">
                    <div class="search-div-section">
                        <h3 class="weight-700">Location<i class="fa fa-question-circle" aria-hidden="true"></i></h3>
                        <div class="search-buttons-div weight-500 uppercase">
                            {% for location in locations %}
                                <p class="swim-btn-flexi swim-bg-grey">{{ location.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="search-div-section">
                        <h3 class="weight-700">Who For?<i class="fa fa-question-circle" aria-hidden="true"></i></h3>
                        <div class="search-buttons-div weight-500 uppercase">
                            {% for who in whos %}
                                <p class="swim-btn-flexi swim-bg-grey">{{ who.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="search-div-section">
                        <h3 class="weight-700">Challenge Level<i class="fa fa-question-circle" aria-hidden="true"></i></h3>
                        <div class="search-buttons-div weight-500 uppercase">
                            {% for challenge in challenges %}
                                <p class="swim-btn-flexi swim-bg-grey">{{ challenge.name }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <p><a href="#" class="swim-btn-flexi btn-dblue swim-txt-white font-title weight-500 swim-btn-shadow">RESET ALL</a></p>
            </div>
        </div>

        <!-- Event Summary Cards -->
        <div class="events-div" id="events-div">
            {% for event in events %}
                <div class="event-card">
                    {% for location in locations %}
                        {% if event.location_id == location._id %}
                            <div class="event-card-clickable swim-bg-white swim-txt-dblue">
                                <a href="{{ url_for('event', event_id=event._id) }}"><span class="card-link"></span></a>
                                <div class="event-image">
                                    <img src="{{ location.image_url }}" alt="Image of {{ location.name }}">
                                </div>
                                <div class="event-card-text swim-txt-dblue center-align">
                                    <h2 class="font-title center-align weight-600 uppercase">{{ event.name }}</h2>
                                    <em><p class="font-body center-align weight-200 created-by">Created by: {{ event.created_by }}</p></em>
                                    <p class="font-body weight-700 uppercase"><i class="fa-solid fa-location-dot"></i></i>{{ location.name }}</p>
                                    <div class="event-when-row">
                                        <p class="font-body weight-500 uppercase"><i class="fa-regular fa-calendar"></i>{{ event.date.strftime('%d/%m/%y') }}</p>
                                        <p class="font-body weight-500 uppercase"><i class="fa-regular fa-clock"></i>{{ event.date.strftime('%H:%M') }}</p>
                                    </div>
                                </div>
                                <div class="event-marker-row uppercase">
                                    <p class="font-body weight-500 swim-txt-white event-marker swim-bg-{{event.who|lower}}">{{ event.who }}</p>
                                    <p class="font-body weight-500 swim-txt-black event-marker swim-bg-{{event.challenge|lower}}">{{ event.challenge }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}   
                            

                    <!-- Add CRUD control buttons if user event -->
                    {% if session.user|lower == event.created_by|lower or session.user|lower == "admin"|lower %}
                        <div class="card-edit-div swim-bg-dblue">
                            <a href="{{ url_for('edit_event', event_id=event._id) }}" class="swim-btn-small btn-edit font-title swim-txt-white weight-400 swim-btn-shadow">EDIT</a>
                            <button data-target="{{ event._id }}" class="swim-btn-small btn-delete font-title swim-txt-white weight-400 swim-btn-shadow modal-trigger">DELETE</a>
                        </div>
                    {% endif %}
                </div>
                <!-- Confirm Delete Modal -->
                <div id="{{ event._id }}" class="modal">
                    <div class="modal-contents swim-bg-lgrey center-align">
                        <div class="swim-txt-dblue">
                            <h2 class="font-title weight-500 font-body">Are you sure you want to delete this event?</h2>
                            <p class="font-title font-title">THIS ACTION CAN'T BE UNDONE</p>
                        </div>
                        <div class="modal-footer swim-bg-lgrey">
                            <a href="{{ url_for('delete_event', event_id=event._id) }}" data-target="{{ event._id }}" class="swim-btn-small btn-delete font-title swim-txt-white weight-400 swim-btn-shadow">DELETE</a>
                            <a href="#!" class="modal-close swim-btn-small btn-edit font-title swim-txt-white weight-400 swim-btn-shadow" data-target="{{ event._id }}">CANCEL</a>
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
        <div class="btt-btn-div">
            <button class="swim-btn-flexi btn-hpink font-title weight-500 swim-btn-shadow center-align" id="btt-btn">BACK TO TOP</button>
        </div>

        
        
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/collapsible.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scroll-top.js') }}"></script>
{% endblock %}