{% extends "base.html" %}
{% block content %}

    <div class="form-page-wrapper">
        <!-- Intro Section -->
        <div class="intro-div swim-bg-hblue swim-txt-dblue div-shadow">
            <h1 class="font-title weight-600">JOIN</h1>
            <div class="font-body weight-500 intro-div-p-group">
                <p>Fill in the form to become a member and set up a free account.</p>
                <p>Start browsing events and adding your own today!</p>
            </div>
        </div>

        <div class="form-wrapper">
            <form class="swim-form div-shadow" method="POST" action="">
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <label for="username" class="font-title weight-600">USERNAME</label>
                        <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"/>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password" class="font-title weight-600">PASSWORD</label>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"/>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password-confirm" class="font-title weight-600">REPEAT PASSWORD</label>
                        <input id="password-confirm" name="password-confirm" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"/>
                    </div>
                </div>
                <!-- submit button -->
                <div class="form-button-row">
                    <button type="submit" class="swim-btn-large btn-hblue font-title weight-600 swim-btn-shadow">SUBMIT</button>
                </div>
        </form>
        </div>
        
        <div class="below-form-text-div">
            <p class="center-align font-body weight-700"><a href="{{ url_for('sign_in')}}" class="link-text">Already a member? Sign in here!</a></p>
        </div>
    </div>

{% endblock %}