{% extends "base.html" %}
{% block content %}

<div class="location-page-wrapper swim-bg-white div-shadow">

    <!-- Location Name & Co-ordinates -->
    <div class="location-name-div swim-bg-mblue center-align swim-txt-white">
        <h1 class="font-title weight-500">{{ location.name|upper}}</h1>
        <p class="font-body weight-300"><span id="latitude">{{ location.lat|truncate(9, False, "") }}</span>, <span id="longitude">{{ location.long|truncate(9, False, "") }}</span></p>
    </div>

    <!-- Image -->
    <div class="location-image-div">
        <img src="{{ location.image_url }}" alt="Image of {{ location.name }}" onerror="this.onerror=null; this.src='https://swim-mon.herokuapp.com/static/images/sm-beach.jpg';">
    </div>

    <!-- Location Information -->
    <div class="row location-info-div swim-bg-mblue swim-txt-white">
        <div class="col m12 l6 location-description">
            <p><span class="weight-700">Description:</span><br>{{ location.description}}</p>
        </div>
        <div class="col m12 l6 location-park-fac">
            <p><span class="weight-700">Parking:</span><br>{{ location.parking}}</p>
            <p><span class="weight-700">Facilities:</span><br>{{ location.facilities}}</p>
        </div>
    </div>

    {% if session.user|lower == "admin"|lower %}
        <!-- Edit/Delete Location Buttons -->
        <div class="edit-div swim-bg-lgrey">
            <p class="swim-txt-dblue weight-500 font-body center-align">MANAGE LOCATION</p>
            <div class="edit-buttons">
                <!-- Edit Location Button -->
                <a href="{{ url_for('edit_location', location_id=location._id) }}" class="swim-btn-small btn-edit font-title weight-500 swim-btn-shadow">EDIT</a>
                <!-- Delete Location Modal Trigger -->
                <button data-target="{{ location._id }}" class="swim-btn-small btn-delete font-title weight-500 swim-btn-shadow modal-trigger">DELETE</button>
            </div>
        </div>

        <!-- Confirm Delete Modal -->
        <div id="{{ location._id }}" class="modal">
            <div class="modal-contents swim-bg-lgrey center-align">
                <div class="swim-txt-dblue">
                    <h2 class="font-title weight-500 font-body">Are you sure you want to delete this location?<br>All associated events will also be deleted.</h2>
                    <p class="font-title">THIS ACTION CAN'T BE UNDONE</p>
                </div>
                <div class="modal-footer swim-bg-lgrey">
                    <!-- Cancel Button -->
                    <p class="modal-close swim-btn-small btn-close font-title weight-500 swim-btn-shadow" data-target="{{ location._id }}">CANCEL</p>
                    <!-- Delete Location Button -->
                    <a href="{{ url_for('delete_location', location_id=location._id) }}" data-target="{{ location._id }}" class="swim-btn-small btn-delete font-title weight-500 swim-btn-shadow">DELETE</a>
                </div>
            </div>
        </div> 
    {% endif %}

    <!-- Map -->
    <div id="map-location"></div>

    {% if session.user %}
    <!-- Intro & Add Event Button -->
    <div class="intro-div swim-bg-dblue swim-txt-white">
        <h2 class="font-title weight-600">EVENTS IN {{location.name|upper}}</h2>
        <p class="font-body weight-500">Check out member events at this location. Don't see one that suits? Why not add your own?</p>
        <a href="{{ url_for('add_event')}}" class="swim-btn-large btn-hpink font-title weight-600 swim-btn-shadow">ADD EVENT</a>
    </div>

    <div class="events-wrapper swim-bg-lgrey">

        <!-- Event Cards Container -->
        <div class="events-div" id="events-div">

            {% for event in events %}
                <!-- Event Card -->
                <div class="event-card">
                    {% for loc in locations %}
                        {% if event.location_id == loc._id %}
                            <div class="event-card-clickable swim-bg-white swim-txt-dblue">
                                <a href="{{ url_for('event', event_id=event._id) }}" class="card-link"><span class="sr-only">{{ event.name }}: Event Details</span></a>
                                <div class="event-image">
                                    <img src="{{ loc.image_url }}" alt="{{ loc.name }}" onerror="this.onerror=null; this.src='https://swim-mon.herokuapp.com/static/images/sm-beach.jpg';">
                                </div>
                                <div class="event-card-text swim-txt-dblue center-align">
                                    <h2 class="font-title center-align weight-600 uppercase">{{ event.name }}</h2>
                                    <p class="font-body center-align weight-200 created-by"><em>Created by: {{ event.created_by }}</em></p>
                                    <p class="font-body weight-700 uppercase"><i class="fa-solid fa-location-dot"></i>{{ loc.name }}</p>
                                    <div class="event-when-row">
                                        <p class="font-body weight-500 uppercase"><i class="fa-regular fa-calendar"></i>{{ event.date.strftime('%d/%m/%y') }}</p>
                                        <p class="font-body weight-500 uppercase"><i class="fa-regular fa-clock"></i>{{ event.date.strftime('%-I:%M %p') }}</p>
                                    </div>
                                </div>
                                <div class="event-marker-row uppercase">
                                    <p class="font-body weight-500 swim-txt-white event-marker swim-bg-{{event.who|lower}}">{{ event.who }}</p>
                                    <p class="font-body weight-500 swim-txt-black event-marker swim-bg-{{event.challenge|lower}}">{{ event.challenge }}</p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}   
                            
                    {% if session.user|lower == event.created_by|lower or session.user|lower == "admin"|lower %}
                        <!-- Edit/Delete Event Buttons -->
                        <div class="card-edit-div swim-bg-dblue">
                            <!-- Edit Event Button -->
                            <a href="{{ url_for('edit_event', event_id=event._id) }}" class="swim-btn-small btn-edit font-title weight-500 swim-btn-shadow">EDIT</a>
                            <!-- Delete Event Modal Trigger -->
                            <button data-target="{{ event._id }}" class="swim-btn-small btn-delete font-title weight-500 swim-btn-shadow modal-trigger">DELETE</button>
                        </div>
                    {% endif %}
                </div>

                <!-- Confirm Delete Modal -->
                <div id="{{ event._id }}" class="modal">
                    <div class="modal-contents swim-bg-lgrey center-align">
                        <div class="swim-txt-dblue">
                            <h2 class="font-title weight-500 font-body">Are you sure you want to delete this event?</h2>
                            <p class="font-title font-title">THIS ACTION CAN'T BE UNDONE</p>
                        </div>
                        <div class="modal-footer swim-bg-lgrey">
                            <!-- Cancel Button -->
                            <p class="modal-close swim-btn-small btn-close font-title weight-500 swim-btn-shadow" data-target="{{ event._id }}">CANCEL</p>
                            <!-- Delete Event Button -->
                            <a href="{{ url_for('delete_event', event_id=event._id) }}" data-target="{{ event._id }}" class="swim-btn-small btn-delete font-title weight-500 swim-btn-shadow">DELETE</a>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

        <!-- Back to Top Button -->
        <div class="btt-btn-div">
            <button class="swim-btn-flexi btn-hpink font-title weight-500 swim-btn-shadow center-align" id="btt-btn">BACK TO TOP</button>
        </div>  

    </div>
    {% endif %}
</div>
    
{% endblock %}

{% block scripts %}
    <!-- Location Page Map JavaScript -->
    <script src="{{ url_for('static', filename='js/map-location.js') }}"></script>
    <!-- Google Maps API - Markers -->
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <!-- Google Maps API - Map -->
    <script async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBp3bbw0F5d1sjzp5iet_vlxKb0RrevMCA&callback=initMap">
    </script>
    <!-- Back To Top Button JavaScript -->
    <script src="{{ url_for('static', filename='js/scroll-top.js') }}"></script>
{% endblock %}


