{% extends "base.html" %}
{% block content %}

    <!-- Intro & Add Location Button -->
    <div class="intro-div swim-bg-grey swim-txt-dblue">
        <h1 class="font-title weight-600">MANAGE LOCATIONS</h1>
        <p class="font-body weight-500">Use this page to view, add, edit & delete swimming locations.</p>
        <a href="{{ url_for('add_location')}}" class="swim-btn-large btn-mblue font-title weight-600 swim-btn-shadow">ADD LOCATION</a>
    </div>

    <!-- Search Bar -->
    <div class="events-wrapper swim-bg-lgrey">

        <!-- Location Cards -->
        <div class="locations-div">
            {% for location in locations %}
                <div class="location-card">
                    <div class="location-card-clickable swim-bg-white swim-txt-dblue">
                        <a href="{{ url_for('location', location_id=location._id) }}"><span class="card-link"></span></a>
                        <div class="location-image">
                            <img src="{{ location.image_url }}" alt="Image of {{ location.name }}">
                        </div>
                        <div class="location-card-text center-align">
                            <h2 class="font-title center-align weight-600 uppercase">{{ location.name }}</h2>
                        </div>
                    </div>
                    <!-- CRUD control buttons -->
                    <div class="card-edit-div swim-bg-dblue">
                        <a href="{{ url_for('edit_location', location_id=location._id) }}" class="swim-btn-small btn-edit font-title swim-txt-white weight-400 swim-btn-shadow">EDIT</a>
                        <button data-target="{{ location._id }}" class="swim-btn-small btn-delete font-title swim-txt-white weight-400 swim-btn-shadow modal-trigger">DELETE</button>
                    </div>
                </div>
            
                <!-- Confirm Delete Modal -->
                <div id="{{ location._id }}" class="modal">
                    <div class="modal-contents swim-bg-lgrey center-align">
                        <div class="swim-txt-dblue">
                            <h2 class="font-title weight-500 font-body">Are you sure you want to delete this location?<br>All associated events will also be deleted.</h2>
                            <p class="font-title">THIS ACTION CAN'T BE UNDONE</p>
                        </div>
                        <div class="modal-footer swim-bg-lgrey">
                            <a href="#!" class="modal-close swim-btn-small btn-edit font-title swim-txt-white weight-400 swim-btn-shadow" data-target="{{ location._id }}">CANCEL</a>
                            <a href="{{ url_for('delete_location', location_id=location._id) }}" data-target="{{ location._id }}" class="swim-btn-small btn-delete font-title swim-txt-white weight-400 swim-btn-shadow">DELETE</a>
                        </div>
                    </div>
                </div> 
            {% endfor %}
        </div>
        
        <div class="btt-btn-div">
            <button class="swim-btn-flexi btn-hpink font-title weight-500 swim-btn-shadow center-align" id="btt-btn">BACK TO TOP</button>
        </div>

        
        
    </div>

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scroll-top.js') }}"></script>
{% endblock %}